header {
    background-color: rgb(255, 0, 0);
    color: rgb(243, 236, 222);
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url("images/bg_anime.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    margin-top: 0;
}

.trans {
    background-color: black;
    opacity: .93;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

.common {
    margin: 0 15%;
    width: 75%;
    padding-top: 100px;
    font-size: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1 {
    background: linear-gradient(to right, #0a691f, #f72f2f);
    width: 200px;
    height: 70px;
    border: none;
    font-size: 1.2rem;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 0 25px;
    position: relative;
    transition: all .5s;
}

.btn1:hover {
    border-radius: 25px 0;
}

.btn1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #309409, #f72f2f);
    width: 100%;
    height: 100%;
    filter: blur(22px);
    transform: scale(0.9, 0.8) translateY(20px);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}

.btn1:hover::before {
    opacity: 1;
}


/* before 1st button CSS till here*/


/*starting profile card*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 {
    height: 50vh;
}

.box {
    width: 75%;
    height: 300px;
    box-shadow: 0 10px 20px rgb(241, 47, 47);
    border-radius: 23px;
    flex-direction: column;
    color: whitesmoke;
    position: relative;
    overflow: hidden;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.box .pro_pic {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.pro_pic {
    margin-bottom: 20px;
}

.user_name {
    margin-bottom: 5px;
    font-size: 2rem;
    font-family: 'Girassol';
}

.title {
    font-weight: bolder;
    font-family: cursive;
    font-size: 1.2rem;
    text-align: center;
}

.arr_container,
.cancel {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: rgb(235, 39, 39);
    background: whitesmoke;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s;
}

.arr_container {
    transform: rotate(40deg);
}

.active_arr {
    transform: translate(80%, 80%);
}

.left_container {
    position: absolute;
    background: #f510109d;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    padding: 40px 0 0 20px;
    transition: all .5s;
}

.off {
    transform: translate(-80%, -80%) rotate(90deg);
}

.active {
    transform: translate(0) rotate(0);
}

.meme {
    width: 300px;
    height: 95%;
    margin-left: 230px;
    margin-top: -15px;
}


/*card CSS*/

.card1 {
    margin-top: 5%;
    font-weight: bold;
    width: 90%;
    max-width: 50rem;
    min-height: 20rem;
    position: relative;
    left: 15%;
    background-color: beige;
    justify-content: center;
    color: rgb(17, 16, 16);
}

.card_title1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin: 0.5rem 0;
    color: black;
    font-family: 'Sacramento', cursive;
}

.card--asymmetric1 {
    padding: 1rem;
    border-radius: 0 7rem;
    box-shadow: 0 -4px 4px #f71818, 0 4px 4px rgb(98, 245, 105);
}

.main3 {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2 {
    background: linear-gradient(to right, #f72f2f, #277508);
    width: 200px;
    height: 70px;
    border: none;
    font-size: 1.2rem;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 0 25px;
    position: relative;
    transition: all .5s;
}

.btn2:hover {
    border-radius: 25px 0;
}

.btn2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #f72f2f, #1a5c06);
    width: 100%;
    height: 100%;
    filter: blur(22px);
    transform: scale(0.9, 0.8) translateY(20px);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}

.btn2:hover::before {
    opacity: 1;
}


/*footer*/

.foot {
    margin-top: 25px;
    padding: 2rem;
    background-color: #f71818;
    color: whitesmoke;
    margin-left: 0;
    margin-left: 0;
}


/* media query for responsiveness */

@media only screen and (max-width: 768px) and (max-height: 1024px) {
    .card1 {
        position: relative;
        left: 10px;
    }
    .meme {
        margin-left: 100px;
    }
}

@media only screen and (max-width: 540px) and (max-height: 720px) {
    .box {
        width: 375px;
    }
    .card1 {
        position: relative;
        left: 0;
        height: 400px;
        justify-content: center;
    }
    .meme {
        margin-left: 20px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
    .meme {
        margin-left: -10px;
        width: 230px;
    }
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
    .meme {
        margin-left: 0px;
    }
    .card1 {
        width: 85%;
    }
}

@media only screen and (max-width: 295px) and (max-height: 590px) {
    .common {
        margin: 0 25px;
    }
    .meme {
        margin-top: 28px;
    }
    .card1 {
        margin-top: 50px;
    }
}